
<form [formGroup]="formulaire" method="post" enctype="multipart/form-data" (submit)="onSubmit()">
  <div>
    <input type="email" formControlName="email"/>
  </div>

  <div>
    <select formControlName="expiration">
      <option value="1j">1 jours</option>
      <option value="1m">1 mois</option>
      <option value="1y">1 an</option>
      <option value="never">Jamais</option>
    </select>
  </div>

  <div>
    <input type="file" multiple (change)="onFilesSelected($event)" />
  </div>
  <div>
    <button type="submit">Envoyer</button>
</div>
</form>







